$diameter1: 30px;
$diameter2: 20px;
$diameter3: 15px;
$diameter4: 12px;

#cursor {
	position: absolute;
	z-index: 1;
	filter: url("#goo");
	transform-origin: center;

	.blob {
		position: absolute;
		margin: calc(-#{$diameter1 / 2}) 0 0 calc(-#{$diameter1 / 2});
		width: $diameter1;
		height: $diameter1;
		border-radius: 100%;
		background: var(--mainColor); /* CSS 변수 사용 */
		top: 50%;
		left: 50%;
		pointer-events: none;

		&:nth-child(2) {
			width: $diameter2;
			height: $diameter2;
			margin: calc(-#{$diameter2 / 2}) 0 0
				calc(-#{$diameter2 / 2});
			z-index: -1;
			background: var(
				--secondaryBackground
			); /* CSS 변수 사용 */
		}

		&:nth-child(3) {
			width: $diameter3;
			height: $diameter3;
			margin: calc(-#{$diameter3 / 2}) 0 0
				calc(-#{$diameter3 / 2});
			z-index: -2;
			background: var(--secondaryColor); /* CSS 변수 사용 */
			animation: move2 0.3s forwards infinite;
		}

		&:nth-child(4) {
			width: $diameter4;
			height: $diameter4;
			margin: calc(-#{$diameter4 / 2}) 0 0
				calc(-#{$diameter4 / 2});
			z-index: 30;
			background: var(--mainBackground); /* CSS 변수 사용 */
			animation: move3 0.5s forwards infinite;
		}
	}
}

@keyframes move2 {
	0% {
		left: 5px;
		top: -5px;
	}
	100% {
		left: -5px;
		top: 5px;
	}
}

@keyframes move3 {
	0% {
		left: 5px;
		top: 5px;
	}
	100% {
		left: -5px;
		top: -5px;
	}
}
