@import url('https://fonts.googleapis.com/css?family=Teko');

html {
  height: 100%;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background-color: #000; /* 배경을 투명하게 처리 */
}

.loader-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* 고정된 배경 색 */
  z-index: -1; /* 배경은 뒤에 위치하도록 */
}

.loader {
  color: white;
  font-family: 'Teko', serif;
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.01em;
  transition: transform 0.125s ease;
  z-index: 1; /* 로딩 텍스트가 배경 위로 올 수 있도록 */
  @media (max-width: 800px) {
    font-size: 10vw;
    width: 100%;
  }
}

.loader sup {
  font-size: 50%;
  vertical-align: baseline;
}

/* 동적 사이즈 및 불투명도 조정 */
.loader[data-size='1'] {
  transform: scale(1.02);
  opacity: 0.01;
}

.loader[data-size='2'] {
  transform: scale(1.04);
  opacity: 0.02;
}

.loader[data-size='3'] {
  transform: scale(1.06);
  opacity: 0.03;
}

.loader[data-size='4'] {
  transform: scale(1.08);
  opacity: 0.04;
}

.loader[data-size='5'] {
  transform: scale(1.1);
  opacity: 0.05;
}

.loader-container .line {
  position: absolute;
  top: 50%;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  height: 3px;
  background: rgba(255, 255, 255, 0.1);
}

.loader-container .line::before {
  animation: progress1 4s infinite;
  transform-origin: 0 0;
  content: '';
  display: block;
  width: 300px;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.4) 80%,
    rgba(255, 255, 255, 1)
  );
}

.loader-container .line::after {
  content: '';
  position: absolute;
  animation: progress2 4s infinite;
  transform-origin: 90% 50%;
  margin-left: -24px;
  top: -9px;
  width: 30px;
  height: 21px;
  border-radius: 2px;
  background: rgba(210, 189, 255, 0.55);
  filter: blur(8px);
  box-shadow:
    0 0 10px 6px rgba(210, 189, 255, 0.4),
    -20px 0 15px 4px rgba(210, 189, 255, 0.3),
    -40px 0 15px 2px rgba(210, 189, 255, 0.2),
    -60px 0 10px 1px rgba(210, 189, 255, 0.1),
    -80px 0 10px 1px rgba(210, 189, 255, 0.05);
}

@keyframes progress1 {
  0% {
    transform: scalex(0);
    opacity: 0.5;
  }
  90% {
    transform: scalex(1);
    opacity: 1;
  }
  92% {
    transform: scalex(1);
    opacity: 1;
  }
  100% {
    transform: scalex(1);
    opacity: 0;
  }
}

@keyframes progress2 {
  0% {
    transform: scale(0.3, 0.8) translatez(0);
    opacity: 0;
  }
  90% {
    transform: scale(1, 1) translatex(300px) translatez(0);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1) translatex(300px) translatez(0);
    opacity: 0;
  }
}
