#cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  mix-blend-mode: difference; /* mix-blend-mode 추가 */
  @media (max-width: 800px) {
    z-index: -9999;
    top: -100px;
  }
  .blob {
    position: absolute;

    width: 25px;
    filter: url(#goo);
    height: 25px;
    border-radius: 50%;
    background: var(--secondaryColor);
    pointer-events: none;
    transform-origin: center;
  }
}

@keyframes move2 {
  0% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(-5px, 5px);
  }
}

@keyframes move3 {
  0% {
    transform: translate(5px, 5px);
  }
  100% {
    transform: translate(-5px, -5px);
  }
}
