:root {
  --mainEng-font: 'Montserrat';
  --mainKor-font: 'Pretendardã„´';
  --mainNum-font: 'Pretendard';

  font-family: var(--mainEng-font), var(--mainKor-font);
  font-size: 16px;
  line-height: 1.7;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @media (max-width: 800px) {
    font-size: 14px;
    line-height: 1.6;
  }
}

body {
  background-color: var(--mainBg-color);
}
